.homeDiv {
    width: 100%;
    max-height: 250px;
    margin-top: 10%;
    padding: auto;
}

h1{
  text-align: center;
}

.homeP {
  margin: 3% 10%;
  font-size: 25px;
  position: absolute;
  text-align: center;
  padding: 0px 140px 0px 140px;
}