.DisplayDiv {
    width: 100%;
    margin-top: 90px;
    z-index:-1;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 63px;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #ABB8B2;
}

.right {
    right: 0;
    background-color: white;
    opacity: .9;
}

.centered {
    position: absolute;
    top: 0px;
    left: 35%;
    text-align: center;
    list-style-type: none;
}

.leftP {
    text-align: start;
    font-size: 25px;
    position: absolute;
    left: -81%;
    top: 290%;
}

.leftImg {
    position: absolute;
    width: 130%;
    height: auto;
    left: -15%;
    top: 190%;
}

.typeLi {
    display: flex;
    left: 25px;
    position: relative;
}

.spriteForm {
    bottom: 30%;
    left: 23%;
    position: fixed;
}

.spriteBtn {
    font-size: 17px;
    border-radius: 5px;
    width: 100px;
}

.spriteBtn:hover {
    background-color: #043322;
    color: white;
    opacity: .5;
}